
<div class="background"></div>

<div class="topNav">
<p class="appTitle">deskboss.io</p>
<p class="helpButton">?</p>
<div ng-if="user != null" class="currentFolder">
/ <span ng-click="clickedFolder(folder, $index)" ng-repeat="folder in currentFolderStructure track by $index">{{folder}}{{' ' + ($index != currentFolderStructure.length - 1 ? '/' : '')}}</span>
<span ng-if="hasFolders == true" class="viewFolders" ng-click="toggleViewFolders()">{{showFolders == true ? 'hide ' : 'view '}} folders</span>
</div>

</div>


<div ng-if="user != null">

<div class="viewDisplay">
  <!-- <p class="viewDisplay_item"> data displays will be here. </p> -->
  <div ng-if="welcomeScreen" class="welcomeScreen">
    <h3><span class="welcomeText">welcome</span><br/> to deskboss.io :)</h3>

    <p>deskboss.io is both an educational tool as well as a personal life-manager that lives in your browser</p>
    <h3 class="wip vers">alpha version: 0.16 // last updated Nov 11, 2016</h3>
    <br/><br/><br/><br/><br/><br/>
    <p><span class="ifYoureNew">if you're new</span><br/> deskboss.io has many cool features accessed via the 'commandline'. <br/>1. Locate the input field with 'add task' </br>2. <em>type: $start</em></p>


  </div>

  <div ng-if="showFriends" class="friendsScreen">
    hello friend screen;
    <h4 ng-if="user.friendRequests.length > 0">REQUESTS</h4>
    <div ng-if="user.friendRequests.length > 0" ng-repeat="request in user.friendRequests">
        {{request.email}} <button ng-click="addFriend(request)">add friend</button><button ng-click="denyFriend(request)">deny</button>
    </div>
    <h4 ng-if="user.friends.length > 0">FRIENDS</h4>
    <div ng-if="user.friends.length > 0" ng-repeat="friend in user.friends">
        {{friend.email}}
    </div>
  </div>

  <div ng-if="showDevBlog">
    <h3>Nov 11, 2016.</h3>
    <ol>
      <li>added clickable priority and scrum incrementors</li>
      <li>added brief level-style tutorial</li>
      <li>added $view devBlog</li>
      <li>added $view friends</li>
      <li>added $orderBy scrum</li>
      <li>added $orderBy date</li>
      <li> added $orderBy priority</li>
    </ol>
    <h4>next update feature goals:</h4>
    <ol>
      <li>searchable friends, @username/email/fullName</li>
      <li>shared task lists between friends</li>
      <li>message board attached to shared task lists</li>
      <li>private messaging</li>
      <li>update to friend view ui</li>
      <li>priority in-line command simillar to scrum #5: *5?</li>
    </ol>
    <h4>things2fix:</h4>
    <ol>
      <li>have $orderBy be saved in userdb, any changes to db will override order</li>
      <li>when friend sends request/accepts request, update both friendsDB</li>
      <li>when user has no tasks(ie: first time) force tutorial session</li>
    </ol>

  </div>

  <div ng-if="showTutorial" class="tutorialContainer">
    <h1>Level 1:</h1><p> add a task :) something small you want to get done today</p>
    <h1>Level 2:</h1><p> 1. create a new folder. name it after work, school, or a project you're working on:</p>
    <p>ex:<em>$dir schoolwork</em>
      <p>2. add a task to your new folder</p>
      <p>3. go back to the 'parent folder': main/<p><p>type: <em>$dir ..</em></p>

    <h1>Level 3:</h1>
    <p> change priority and scrum count by clicking on the S or P</p>
    <h3>S:0 stands for Scrum:0</h3><p>scrum is a point system for time estamites. 1 point could equal 15 mins or an hour, you decide your own scale</p>
    <h3>P:0 stands for Priority:0</h3>
    <p>priority is messured via a 1-9 scale, 0: not important - 9: critical</p>

    <h1 class="wip">tba:</h1>
    <p class="wip">friend chatting, task list sharing, custom styles, timer functionality :)</p>

  </div>
  <div ng-if="showHelp" class="helpText">
    <h4> BLING FUNCTIONS (click to see details)</h4>
    <p><span ng-click="showCommand0 = !showCommand0"class="helpTextCommand">$start <br/></span>                                                                                        <span class="commandInfo" ng-if="showCommand0"> -shows level progression/walkthrough of all features</p>
      <p><span ng-click="showCommand1 = !showCommand1"class="helpTextCommand">$help <br/></span>                                                                                        <span class="commandInfo" ng-if="showCommand1"> -show help</p>
        <p><span ng-click="showCommandvdb = !showCommandvdb"class="helpTextCommand">$view devBlog <br/></span>                                                                                        <span class="commandInfo" ng-if="showCommandvdb"> -collection of update notes</p>
          <p><span ng-click="showCommandvf = !showCommandvf"class="helpTextCommand">$view friends <br/></span>                                                                                        <span class="commandInfo" ng-if="showCommandvf"> -view friends portal(currently bugged :P)</p>
    <p><span ng-click="showCommand2 = !showCommand2"class="helpTextCommand">$bug foobar #1<br/></span>                                                                               <span class="commandInfo" ng-if="showCommand2"> -sends a bug ticket "foobar" to bug database. priority added with #, 1: low interference -- 9: app breaking interference </p>
    <p><span ng-click="showCommand3 = !showCommand3"class="helpTextCommand">$delete main/foo/bar <br/></span>                                                                         <span class="commandInfo" ng-if="showCommand3">-deletes folder 'main/foo/bar' and all children task/folders. will prompt confirmation window</p>
    <p><span ng-click="showCommand4 = !showCommand4"class="helpTextCommand">$dir foo <br/></span>                                                                                     <span class="commandInfo" ng-if="showCommand4">-changes to directory 'currentfolder/foo'. NOTE: will create a new folder if folder does not exist. PRO-TIP: If you create a folder within a folder that doesnt hold a task you create a 'secret folder'. This 'secret folder' can only be accessed by $dir into its parent folder, the parent folder will not show up in any gui so you can think of it as a secret key/refrence. $dir secretFolderKey -> $dir innerSecretFolder == /main/secretFolderKey/innerSecretFolder. this will not show up on the ui :) neato eh? </p>
    <p><span ng-click="showCommand5 = !showCommand5"class="helpTextCommand">$dir .. <br/></span>                                                                                      <span class="commandInfo" ng-if="showCommand5">-changes directory to parent folder. ex: current folder="/main/foo/bar", $dir .. -> current folder = "/main/foo"</p>
    <p><span ng-click="showCommand6 = !showCommand6"class="helpTextCommand">$dir ~ <br/></span>                                                                                       <span class="commandInfo" ng-if="showCommand6">- changes directory to '/main'</p>
    <p><span ng-click="showCommand7 = !showCommand7"class="helpTextCommand">$cl <br/></span>                                                                                          <span class="commandInfo" ng-if="showCommand7">- clears command terminal</p>
    <p><span ng-click="showCommand8 = !showCommand8"class="helpTextCommand">$friend add foo@email.com <br/></span>                                                                    <span class="commandInfo" ng-if="showCommand8">-searches for user with foo@email.com and sends a request</p>
    <p><span ng-click="showCommand9 = !showCommand9"class="helpTextCommand wip">WIP: $pojo create / $pojo invite<br/></span>                                                              <span class="commandInfo" ng-if="showCommand9"> -share tasks between friends/coworkers in a 'Pojo'</p>
    <p><span ng-click="showCommand10 = !showCommand10"class="helpTextCommand wip">WIP: $sprint<br/></span>                                                                                <span class="commandInfo" ng-if="showCommand10"> -creates timer ui where you can add tasks to a list and try to complete them during the timer, a 'sprint'</p>
    <p><span ng-click="showCommand11 = !showCommand11"class="helpTextCommand wip">WIP: $pm friendsemail@email.com foobar<br/></span>                                                      <span class="commandInfo" ng-if="showCommand11"> -sends message to user email from friends list</p>
    <p><span ng-click="showCommand12 = !showCommand12" class="helpTextCommand wip">WIP: $view (pojo, friend, sprint, chat, folders, futureWindows)<br/> </span>                           <span class="commandInfo" ng-if="showCommand12"> -opens a tabbable window with seperate command line/ui in left section of screen </p>
    <h4> KEYBOARD SHORTCUTS </h4>
    <p> <span class="helpTextCommand">type $ and press TAB to cycle through avaliable commands </p>
    <p> <span class="helpTextCommand wip">WIP: press TAB to auto complete if partial string is unique. $dir newFo (press tab, auto completes)-> $dir newFolder </p>

  </div>
</div>
<div id="commandHistory" class="dataDisplay">
  <div class="commandHistory_Item" ng-repeat = "command in commandHistory track by $index">
    <div id="{{'hisory' + $index}}">{{command}}</div>
  </div>
</div>
<div id="taskList" class="taskDisplay">
  <ng-include src="'views/partials/taskDisplay.html'"></ng-include>
</div>
<!--- COMMAND HISTORY WINDOW // FIXED AT 100PX FROM BOTTOM -->
<div class="commandHistory"></div>
<!---MAIN COMMAND LINE // FIXED TO BOTTOM OF SCREEN -60px -->
<form class="commandLine">
  <ng-include src="'views/partials/commandLine.html'"></ng-include>
</form>
<!-- SITE INFO/CONTACT/BUISNESS BS // FIXED TO BOTTOM OF SCREEN -->
<div class="siteInfo"></div>







<!-- <div class="topNav">
    <button ng-click="showCommands = !showCommands" class="headertext">command list</button>
    <button ng-click="showFriends = !showFriends">friends{{user.friendRequests.length != 0 ? '( ' + user.friendRequests.length + ' friend request' + (user.friendRequests.length > 1 ? 's ' : ' ') + ')' : ''}}</button>
    <button ng-click="showBugs = !showBugs"> bugs </button>
    <button ng-click="devAnnouncements= !devAnnouncements">dev blog</button>
    <button ng-click="showPojos = !showPojos"> pojos </button>
</div> -->
  <!-- <div class="rightDisplay">
    <div ng-if="showPojos">
        <ng-include src="'views/partials/pojos.html'"></ng-include>
    </div>
  </div>
    <div class="leftDisplay">
    <div ng-if="devAnnouncements">
        <h4>dev blog</h4>
        <p>Blog Posts for le global db</p>
    </div>
    <div ng-if="showCommands">
        <ng-include src="'views/partials/commandList.html'"></ng-include>
    </div>
    <div ng-show="showFriends">
        <ng-include src="'views/partials/friendsList.html'"></ng-include>
    </div>
    <div ng-show="showBugs">
        <ng-include src="'views/partials/bugList.html'"></ng-include>
    </div>
    <div ng-show="showTimer">
      <ng-include src="'views/partials/timer.html'"></ng-include>
    </div>
  </div>
    <div class="centerDisplay">
    <div class="taskDisplay">
        <ng-include src="'views/partials/taskDisplay.html'"></ng-include>
    </div>
    <form class="commandLine">
      <ng-include src="'views/partials/commandLine.html'"></ng-include>
    </form>
    </div> -->




</div>

<div ng-if="newUser == true && user != null">
  <div class="newUser_container">
  <ng-include src="'views/partials/newUser_popup.html'"></ng-include>
  </div>
</div>

<div ng-if="user == null">
  <div class="noUser_container">
  <ng-include src="'views/partials/noUserLoggedIn.html'"></ng-include>
</div>
</div>



    <!-- MARK: div shows tasks that are completed -->
    <!-- <div ng-show="task.is_complete" ng-repeat="task in user.taskList">
  <p class="taskListTitle" ng-if="task.edit != true">{{task.is_complete}}:{{task.title}}</p>
<form ng-if="task.edit == true">
  <input type="text" ng-model="task.title" value="task.title"></input>
  <button type="submit" ng-click="editTask(task)">SAVE</button> <button ng-click="task.edit = !task.edit">CANCEL</button>
</form>
  <button ng-click="completeTask(task)">DONE!</button>
  <button ng-click="deleteTask(task)">DELETE</button>
  <button ng-if="task.edit != true" ng-click="task.edit = !task.edit">EDIT</button>
</div> -->
