main{
  padding-left: 100px;
}



form {

}

.taskList_taskTitle{
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
.taskdesc{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding-bottom: 20px;
}

.taskListTitle{
  max-width: 200px;
  font-size: 12px;
  font-family: helvetica;
  font-weight: lighter;
  display: inline-block;

}
