<h4>COMMANDS</h4>
<ol>
    <li>example task #4 -> adds task that has a scrum count of 4</li>
    <li>$dir dirName -> changes into directory: dirName, if not exists creates new. </li>
    <li>$dir .. -> goes to parent directory</li>
    <li>~ -> puts you back in top folder, '/main'</li>
    <li>$delete main/folder/folder.. -> deletes folder/children folder and all tasks within</li>
    <li>$bug bugText #4-> adds bug to global bug db for all users to see. Priority added via #</li>
    <li>$friend add friend@email.com ->send friend request</li>
    <li>$pojo create pojoName -> WIP</li>
    <li>$pojo invite member@email.com -> WIP</li>

  </ol>
