<h4>Current Folder: {{currentFolder}}</h4>
<div ng-show="!task.is_complete && task.folder == currentFolder" ng-repeat="task in user.taskList">
    <p class="taskListTitle" ng-if="task.edit != true"><button ng-click="scrumUp(task)">+</button><button ng-click="scrumDown(task)">-</button>scrum:{{task.scrum}}:{{task.title}}</p>
    <form ng-if="task.edit == true">
        <input type="text" ng-model="task.title" value="task.title"></input>
        <button type="submit" ng-click="editTask(task)">SAVE</button> <button ng-click="task.edit = !task.edit">CANCEL</button>
    </form>
    <button ng-click="completeTask(task)">DONE!</button>
    <button ng-click="deleteTask(task)">DELETE</button>
    <button ng-if="task.edit != true" ng-click="task.edit = !task.edit">EDIT</button>
</div>
<button ng-click="goToParentFolder()">BACK</button> ---folders-----
<div ng-click="clickedFolder(folder.folder)" ng-if='folder.show' ng-repeat="folder in user.folders">
    {{folder.folder}}
</div>
